.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 15px;
}

.title {
  font-size: 48px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.convert-btn {
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: aquamarine;
  color: rgb(28, 6, 68);
  border: none;
  margin-top: 10px;
}

.final-amt {
  font-size: 24px;
  font-weight: bold;
  color: rgb(26, 244, 149);
}
